html, body {
  background-color: transparent;
  width: 100px;
}

#config-content {
  text-align: left;
  width: 100%;
}

.hidden {
  display: none;
}

.button {
  cursor: pointer;
  font-size: 1.5em;
  margin: 3% auto;
  padding: 4px;
  text-align: center;
}

.onoff:hover {
  background-color: #CFF2F2;
}

.onoff {
  background-color: #E5F2F2;
}

.reset {
  background-color: #FBFBC9;
}

.reset:hover {
  background-color: #EAEA9D;
}
